version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: c_app_db
    environment:
      POSTGRES_DB: c_app
      POSTGRES_USER: ius
      POSTGRES_PASSWORD: indian-utility-service-password 
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
volumes:
  postgres_data: